@font-face {
  font-family: 'samadhi';
  src:  url('fonts/samadhi.eot?dbrmqv');
  src:  url('fonts/samadhi.eot?dbrmqv#iefix') format('embedded-opentype'),
    url('fonts/samadhi.ttf?dbrmqv') format('truetype'),
    url('fonts/samadhi.woff?dbrmqv') format('woff'),
    url('fonts/samadhi.svg?dbrmqv#samadhi') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="sIcon-"], [class*=" sIcon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'samadhi' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sIcon-instagram:before {
  content: "\e900";
}
.sIcon-facebook:before {
  content: "\e901";
}
