html{
    box-sizing: border-box;
    
}

*,
*::before,
*::after{
    box-sizing:inherit;
    margin: 0px;
    
}

// body{
//     margin: 0;
// }

a{
    text-decoration: none;
}

ul{
    padding: 0;
    list-style: none;
}

