<template>
        <nuxt-link
            class="btn"
            :style="{ color, borderColor: color}"
            :to="{ to }"
        >
            {{ text }}
        </nuxt-link>
</template>

<script>
export default {
    props: {
        text: {
            type: String, 
        },
        to: {
            type: String,
        },
        color: {
            type: String,
            default: 'red',
        },
    },
}
</script>


<style lang="scss" scoped>
    

    .btn {
        width: 85px;
        height: 35px;
        border: 1px solid white;
        border-radius: 100px;
        background-color: inherit;
        color: white;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
 
    }

    .nuxt-link-active {
        color: red;
    }

</style>
