<template>
    <div class="btn-read-more">{{ text }}</div>
</template>



<script>


export default {
    text: "Read More",
    props: ['text']
}
</script>

 


<style lang="scss" scoped>
  
        .btn-read-more{

         display: flex;
         flex-direction: column;
         justify-content: center;
         text-align: center;
         color: $color-black;
         font-family: 'Nunito',cursive;
         border-radius: 100px;
         width: 170px;
         height: 50px;
         border: 1px solid;
         transition: 0.5s;
    }

      .btn-read-more:hover { 
          
            color: white;
            border: 1px solid;
            background-color: $color-red;
            transition: 0.5s;
            cursor: pointer;
    }

   


  



</style>