<template>
    <div class='drawer-wrap'>
        <div class='drawer-burg' v-show='!show' @click='show = !show'>
            <span></span>
        </div>
        <div class='menu-wrap' v-show='show' key='menu-wrap'>
            <div class='drawer-close' @click='show = !show'>Close</div>
        
            <div class='drawer-title'>Yougi Eis</div>
            <nav class="drawer-button-block">
                <div @click='show = !show'>
                    <nuxt-link
                        exact
                        no-prefetch
                        class="drawer_button"
                        active-class="drawer_active"
                        to="/"
                    >
                        Home
                    </nuxt-link>
                </div>
                <div @click='show = !show'>
                    <nuxt-link
                        class="drawer_button"
                        active-class="drawer_active"
                        @click='show = !show'        
                        to="/ice-cream"
                    >
                        Ice-cream
                    </nuxt-link>
                </div>
                <div @click='show = !show'>
                    <nuxt-link
                        class="drawer_button"
                        active-class="drawer_active"
                        @click='show = !show'
                        to="/history"
                    >
                        History
                    </nuxt-link>
                </div>
                <div @click='show = !show'>
                    <nuxt-link
                        class="drawer_button"
                        active-class="drawer_active"
                        @click='show = !show'
                        to="/the-yoga"
                    >
                        The yoga
                    </nuxt-link>
                </div>
                <div @click='show = !show'>
                    <nuxt-link
                        class="drawer_button"
                        active-class="drawer_active"
                        @click='show = !show'
                        to="/contact-us"
                    >
                        Contacts
                    </nuxt-link>
                </div>
                <div @click='show = !show'>
                    <nuxt-link
                        class="drawer_button"
                        active-class="drawer_active"
                        @click='show = !show'
                        to="/shop"
                    >
                        Shop
                    </nuxt-link>
                </div>
            </nav>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                show: false,
            }
        },
    };
    
</script>

<style lang="scss" scoped>
    .menu-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-red;
        width: 100%;
        height: 100vh;
        color: white;
    }
    .menu-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 99;
        position: fixed;
        top: 0px;
        left: 0px;

    
    }

    .drawer-burg {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #C0273B;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 37px;
        right: 20px;

        span,
        span::before,
        span::after {
            width: 17px;
            height: 1.4px;
            background-color: white;
            position: absolute;

        }
        span::before,
        span::after {
            content: '';
            display: block;
            transition: 0.5s;
        }
        span::before {
            transform: translateY(-5px);
        }
        span::after {
            transform: translateY(5px);
        }

    }

    .drawer-close {
        position: absolute;
        right: 10px;
        top: 15px;
        text-decoration: underline;
    }
    
    .drawer-title {
        font-size: 75px;
        margin: 115px auto;
    }
    
    .drawer-button-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }
    .drawer_button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 16px;
        width: 110px;
        height: 37px;
        border: 1px solid white;
        border-radius: 100px;
        background-color: inherit;
        margin: 12px auto;

    }

    .drawer_active {
        background-color: $color-black;
        border: $color-black;
        width: 130px;
        margin: 0 auto;
        
    }
    @media (min-width: 1280px) {
        .drawer-wrap {
            display: none;
        }
    }

</style>