<template>
    <div class="footer-container">
        <!-- <div class="footer-button-block"> -->
          <!-- <Button :text="'Home'" :color="'#FFFFFF'" :to="'/'" />
          <Button :text="'Ice-cream'" :color="'#FFFFFF'" :to="'/ice-cream'" />
          <Button :text="'History'" :color="'#FFFFFF'" :to="'/history'" />
          <Button :text="'The yoga'" :color="'#FFFFFF'" :to="'/The-Yoga'" />
          <Button :text="'Contact us'" :color="'#FFFFFF'" :to="'/contact'" />
          <Button :text="'Shop'" :color="'#FFFFFF'" :to="'/shop'" /> -->
        <!-- </div> -->
        <Navbar :color="'#FFFFFF'" />
        <address class="footer-address" style="font-style: normal">
          <div class="footer-contacts-block">
            <div class="contacts-number">
              <a href="tel:+38 (095) 444 21 23">+38 (095) 444 21 23</a>
            </div>
            <div class="contacts-email">
              <a href="mailto:info@yogieis.com">info@yogieis.com</a>
            </div>
            <div class="contacts-follow-us">
              <a class="sIcon sIcon-facebook" href="https://www.facebook.com/yogieis" target="_blank" title="Facebook"></a>
              <a class="sIcon sIcon-instagram" href="https://www.instagram.com/yogieis" target="_blank" title="Instagram"></a>
            </div>
          </div>
        </address>
        <div class="footer-info-block">
          <div class="designed-by">
            <p>Designed by Tako'v</p>
          </div>
          <div class="footer-info">
            <p>© 2021 Sweet Vice, Inc. All Rights Reserved.</p>
            <a href='#terms_of_service' target="_blank">| Terms Of Service</a>
            <a style="color: #C0273B" href='#privacy_policy' target="_blank">| Privacy Policy</a>
          </div>


        </div>
    </div>
</template>

<script>

</script>


<style lang="scss" scoped>
  @import "../assets/samadhi-v1.0/style.css";

  * {
    color: white;
  }

  a {
    text-decoration: none;
  }

  div {  
    margin: 0 auto;
      
  }

  .footer-container {
    font-family: 'Nunito',cursive;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 565px;
    width: 100%;
    


    // .footer-button-block {
    //   display: flex;
    //   justify-content: space-around;

    //   flex-wrap: wrap;
    //   height: 155px;
    //   width: 220px;
    //   margin: 70px auto 50px;

    //   Button {
    //     margin: 10px 0;
    //   }
    // }
  }

  .footer-contacts-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 45px;

    .contacts-number {
      font-size: 24px;
      margin-bottom: 15px;
      
    }
    
    .contacts-email {
      font-size: 18px;
      margin-bottom: 20px;
    }

    
  }

  .footer-info-block {
    text-align: center;
    font-size: 12px;

    .designed-by {
      margin-bottom: 20px;

    }

  }
  
  .sIcon {
    font-size: 25px;
    margin: 10px;
  }

  @media (min-width: 768px) {
    .footer-contacts-block {
      margin-bottom: 100px;
    }

    .footer-info {
      display: flex;
    
      a {
        margin-left: 4px;
      }
    }

  }

  @media (min-width: 1280px) {
    .footer-container {
      height: 234px;
      flex-wrap: wrap;
      align-items: normal;
      padding: 50px 150px 0;

    }
    .footer-address {
      order: 1;
      height: 135px;
    }
    .footer-contacts-block {
      align-items: flex-end;
      margin-bottom: 0;
      justify-content: space-between;
      height: 100%;

      div {
        margin: 0;
      }
    }
    .footer-info-block {
      margin: 50px 0 0 0;
      height: 50px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      div {
        margin: 0;
      }
    }
  }

  @media (min-width: 1920px) {
    .footer-container {
      padding: 50px 300px 0;
    }
  }
  
</style>