<template>
    <div class="header"><slot /></div>    
</template>




<style lang="scss" scoped>
    .header {
        width: 100%;
        height: 110px;
        background-color: white;
    }

</style>