<template>
    <div class="hero-banner">
        <TextHomePage
         :title="title"
         :subtitle="subtitle"
         :descr="descr"
        />
    </div>
</template>

<script>
import TextHomePage from "./TextHomePage.vue";
export default {

  components: {
   TextHomePage
  },
   props: {
    title: String,
    descr: String,
    subtitle: String,
  },
  

};
</script>

<style lang="scss" scope>

.hero-banner{
    background-color: white;
    border: 1px solid;
    border-color: 1px ;
    border-radius:50px ;
    padding: 30px 20px;
    
}

</style>