<template>
  <div 
  :class="{ firstImg,secondImg,thirdImg }" 
  class="hero-section">
    <HeroBanner
    :title="$t('home.YogiEis')"
    :subtitle="subtitle"
    :descr="descr"
    />
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    descr: String,
    subtitle: String,
    firstImg: {
      type: Boolean,
      default: false,
    },
    secondImg: {
      type: Boolean,
      default: false,
    },
    thirdImg: {
      type: Boolean,
      default: false,
    },
  },
};
</script>


<style lang="scss" scoped>

.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 725px;
    width: 100%;
    max-width: 100%;
    padding: 0 10px;
    border-top: 1px solid;
    border-top-color: black;
}

.firstImg {
  background-image: url("../assets/images/5.png");

}
.secondImg {
  background-image: url("../assets/images/6.png");

}
.thirdImg {
  background-image: url("../assets/images/7.jpg");

}
</style>