<template>
  <div class="history__section ">
    <div 
    :class="{ordersecond}"
    class="history__first-wrapp"
    >
      <div class="history__inner-info">
        <h2 class="history__title">{{title}}</h2>
        <slot>
        <p class="history__descr">
          {{descr}}
        </p>
        </slot>

      </div>
    </div>

    <!-- <div 
    class="history__second-wrapp"
    :class="{green, pink, blue, borderrev, orderfirst}">
      <div class="history__inner-img ">
        <img :src="require(`~/assets/images/${src}`)" />
      </div>
    </div> -->
  </div>
</template>


<script>
export default {
  props:{
    title: String,
    descr: String,
    green: {
      type: Boolean,
      default: false,
    },
    blue:{
      type: Boolean,
      default: false,
    },
    pink: {
      type: Boolean,
      default: false,
    },
    orderfirst:{
      type: Boolean,
      default: false,
    },
    ordersecond:{
      type: Boolean,
      default: false,
    },
    revers:{
      type: Boolean,
      default: false,
    },
    flexstart:{
      type: Boolean,
      default: false,
    }
  },


};

</script>

<style lang="scss" scope>
  *{
    font-family: Handlee;
    font-style: normal;
    font-weight: normal;
  }

  

</style>
