<template>
  <div class="ice-cream__section ">
    <div 
    :class="{ordersecond}"
    class="ice-cream__first-wrapp"
    >
      <div class="ice-cream__inner-info">
        <p class="ice-cream__subtitle ">{{subtitle}}</p>
        <h2 class="ice-cream__title">{{title}}</h2>
        <slot>
        <p class="ice-cream__descr">
          {{descr}}
        </p>
        </slot>
        <div class="ice-cream__wrapper-btn">
          <ButtonReadMore text="Read More" />
        </div>
      </div>
    </div>

    <div 
    class="ice-cream__second-wrapp"
    :class="{green, pink, blue, borderrev, orderfirst}">
      <div class="ice-cream__inner-img ">
        <img :src="require(`~/assets/images/${src}`)" />
      </div>
    </div>
  </div>
</template>


<script>
import ButtonReadMore from "../components/ButtonReadMore.vue";
export default {
  props:{
    subtitle: String,
    title: String,
    descr: String,
    src: String,
    green: {
      type: Boolean,
      default: false,
    },
    blue:{
      type: Boolean,
      default: false,
    },
    pink: {
      type: Boolean,
      default: false,
    },
    orderfirst:{
      type: Boolean,
      default: false,
    },
    ordersecond:{
      type: Boolean,
      default: false,
    },
     borderrev:{
      type: Boolean,
      default: false,
    },
    revers:{
      type: Boolean,
      default: false,
    },
    flexstart:{
      type: Boolean,
      default: false,
    }
  },
};

</script>

<style lang="scss" scope>

.green{
  background-color: $color-green;
}
.pink{
  background-color: $color-pink;
}
.blue{
  background-color: $color-blue;
}

.borderrev{
  border-radius: 0px 100px 100px 0px !important; 

}
.orderfirst{
    order: 1;
}

.ordersecond{
  order:2;
}

.flexstart{
  justify-content: flex-start;
  padding-left: 190px;
}


.ice-cream__section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ice-cream__first-wrapp {
  padding-top: 313px;
  padding-bottom: 313px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ice-cream__inner-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-right: 190px;
  text-align: center;
  max-width: 100%;
  max-width: 640px;
}

.ice-cream__second-wrapp {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid;
  border-color: black;
  border-radius: 100px 0px 0px 100px;
  align-items: center;
  padding-left: 190px;
}

.ice-cream__inner-img {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  max-width: 100%;
  // width: 33.333%;
}

.ice-cream__subtitle {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: $color-red;
  margin-bottom: 15px;
  text-align: center;
}

.ice-cream__title {
  font-family: Handlee;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 73px;
  color: black;
  margin-bottom: 25px;
  text-align: center;
}

.ice-cream__descr {
  font-family: Handlee;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  color: black;
  width: 450px;
  margin-bottom: 50px;
  max-width: 100%;
  text-align: center;
}

.ice-cream__wrapper-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

@media ( max-width: 1280px ){

  .borderrev{
  border-radius: 0px 0px 0px 0px !important; 

}

.orderfirst{
    order: 2;
}

  .ice-cream__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ice-cream__first-wrapp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 100%;
}

.ice-cream__inner-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  width: 100%;
  padding-right: 0;
}

.ice-cream__second-wrapp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
  border: 1px solid;
  border-color: black;
  align-items: center;
  width: 100%;
  border-radius: 0px;
  padding-left: 0px;
  
}

.ice-cream__inner-img {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}


.ice-cream__descr {
  font-family: Handlee;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  color: black;
  width: 31.250vw;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 100%;
  text-align: center;
}

.ice-cream__title {
  font-family: Handlee;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 73px;
  color: black;
  margin-bottom: 25px;
  text-align: center;
}

@media ( max-width: 768px ){

  .ice-cream__first-wrapp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 150px;
  width: 100%;
}

.ice-cream__second-wrapp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 150px;
  border: 1px solid;
  border-color: black;
  align-items: center;
  width: 100%;
  border-radius: 0;
  padding-left: 0;
  
}


  .ice-cream__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

}
.ice-cream__img {
  width: 250px;
  height: 270px;
 
}
}
}
</style>
