<template>
  <select v-model="$i18n.locale" class="languageSelector">
      <option class="languageSelector__option"  v-for="(lang, i) in langs" :key="`Lang${i}`" :value="lang">
        {{ lang }}
      </option>
  </select>
</template>

<script>
export default {
  name: 'locale-changer',
  data () {
    return { langs: ['en', 'de'] }
  }
}
</script>

<style lang="scss" scoped>
select {
  border: none;
  background-color: transparent;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 31px;
  text-align: center;
  color: #c0273b;
  transition: 0.3s;
  text-transform: uppercase ;
  margin-left: 10px;
}
select:active {
  background-color: transparent;
  border: none;
}
select:focus {
  background-color: transparent;
  border: none;
}
</style>