<template>
    <img src="../assets/images/logo-vice.png">
</template>




<style lang="scss" scoped>
    img {
        height: 100%;
        margin: 0 auto;
        display: block;
    }

    @media (min-width: 1280px) {
        img {
            margin: 0 10px;
        }
    }
</style>