<template>
    <nav class="button-block">
        <nuxt-link
            exact
            no-prefetch
            class="btn"
            active-class="active"
            to="/"
            :style="{ color, borderColor: color, width, margin}"  
        >
            Home
        </nuxt-link>
        <nuxt-link
            class="btn"
            active-class="active"            
            to="/ice-cream"
            :style="{ color, borderColor: color, width}"  
        >
            Ice-cream
        </nuxt-link>
        <nuxt-link
            class="btn"
            active-class="active"
            to="/history"
            :style="{ color, borderColor: color, width}"  
        >
            History
        </nuxt-link>
        <slot />
        <nuxt-link
            class="btn"
            active-class="active"
            to="/the-yoga"
            :style="{ color, borderColor: color, width}"  
        >
            The yoga
        </nuxt-link>
        <nuxt-link
            class="btn"
            active-class="active"
            to="/contact-us"
            :style="{ color, borderColor: color, width}"  
        >
            Contacts
        </nuxt-link>
        <nuxt-link
            class="btn"
            active-class="active"
            to="/shop"
            :style="{ color, borderColor: color, width}"
        >
            Shop
        </nuxt-link>
    </nav>
</template>

<script>
export default {
    props: {
        color: String,
        width: String,
        margin: String,
    },
}
</script>


<style lang="scss" scoped>
    
    .button-block {
      display: flex;
      justify-content: center;

      flex-wrap: wrap;
      height: 155px;
      width: 240px;
      margin: 70px auto 50px;

     
    }
    .btn {
        color: black;
        width: 85px;
        height: 35px;
        border: 1px solid black;
        border-radius: 100px;
        background-color: inherit;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 15px;
 
    }

    .active {
        background-color: $color-red;
        border: $color-red;
        // margin: 0;
        color: white;
    }


    @media (min-width: 768px) {
        .button-block {
            width: 100%;
            height: fit-content;
            margin-top: 100px;

        }

    }

    @media (min-width: 1280px) {
        .button-block {
            margin: 0;
            width: fit-content;
            :first-child {
                margin-left: 0;
            }
        }
    }

</style>
