<template>
    <div class="run-line">
        <marquee behavior="alternate" direction="left" >
        <ul class="run-line__list">
            <li class="run-line__item"><span class="run-line__text">The Yoga of Ice Cream</span></li>
            <li class="run-line__item"><span class="run-line__text">The Yoga of Ice Cream</span></li>
            <li class="run-line__item"><span class="run-line__text">The Yoga of Ice Cream</span></li>
            <li class="run-line__item"><span class="run-line__text">The Yoga of Ice Cream</span></li>
            <li class="run-line__item"><span class="run-line__text">The Yoga of Ice Cream</span></li>
            <li class="run-line__item"><span class="run-line__text">The Yoga of Ice Cream</span></li>
            <li class="run-line__item"><span class="run-line__text">The Yoga of Ice Cream</span></li>
            <li class="run-line__item"><span class="run-line__text">The Yoga of Ice Cream</span></li>
            <li class="run-line__item"><span class="run-line__text">The Yoga of Ice Cream</span></li>
            <li class="run-line__item"><span class="run-line__text">The Yoga of Ice Cream</span></li>
        </ul>

        </marquee>
       
    </div>
</template>


// <style lang="scss" scoped>

.run-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%; 
    padding-top: 35px;
    padding-bottom: 35px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color:black ;
    // overflow: hidden;
    
}

.run-line__list{
   width: 100%; 
   white-space: nowrap;
//    overflow: hidden;

}

.run-line__item{
    display: inline;
   

}

.run-line__text{
    font-family: Handlee;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 47px;
    color: black;
    
    
}

.run-line__item {
 position: relative; 
 padding-left: 25px;
 margin-right: 15px;

}

.run-line__item::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50px;
    top:40%;
    transform: translateY(-50%);
    left: 0;
    
}
    
</style>

