<template>
    <div class="slider-card">
        <marquee behavior="alternate" direction="left" >
        <ul class="slider-card__list">
            <li class="slider-card__item"><div class="slider-card__inner"><img class="slider-card__img" src="~/assets/images/img1.png" alt=""><span class="slider-card__title">The Yoga of Ice Cream</span></div></li>
            <li class="slider-card__item"><div class="slider-card__inner"><img class="slider-card__img" src="~/assets/images/img2.png" alt=""><span class="slider-card__title">The Yoga of Ice Cream</span></div></li>
            <li class="slider-card__item"><div class="slider-card__inner"><img class="slider-card__img" src="~/assets/images/img3.png" alt=""><span class="slider-card__title">The Yoga of Ice Cream</span></div></li>
            <li class="slider-card__item"><div class="slider-card__inner"><img class="slider-card__img" src="~/assets/images/img4.png" alt=""><span class="slider-card__title">The Yoga of Ice Cream</span></div></li>
            <li class="slider-card__item"><div class="slider-card__inner"><img class="slider-card__img" src="~/assets/images/img1.png" alt=""><span class="slider-card__title">The Yoga of Ice Cream</span></div></li>
            <li class="slider-card__item"><div class="slider-card__inner"><img class="slider-card__img" src="~/assets/images/img2.png" alt=""><span class="slider-card__title">The Yoga of Ice Cream</span></div></li>
            <li class="slider-card__item"><div class="slider-card__inner"><img class="slider-card__img" src="~/assets/images/img3.png" alt=""><span class="slider-card__title">The Yoga of Ice Cream</span></div></li>
            <li class="slider-card__item"><div class="slider-card__inner"><img class="slider-card__img" src="~/assets/images/img4.png" alt=""><span class="slider-card__title">The Yoga of Ice Cream</span></div></li>
        </ul>
        </marquee>
    </div>
</template>


<style lang="scss" scoped>

    .slider-card{
        width: 100%;
        overflow: hidden;
        margin-bottom:130px ;
    }

    .slider-card__list{
        display: flex;
        flex-direction: row;
    }
    
    .slider-card__item{
       margin-right:20px ;
    }

    .slider-card__item:nth-child(2n){
        margin-top: 50px;
    }


    .slider-card__inner{
        display: flex;
        flex-direction: column;
        margin-bottom:50px ;
        position: relative;

    }
    
    .slider-card__inner::before{
    content: "";
    position: absolute;
    width: 440px;
    height: 500px;
    background-color: #E3E3E3;  
    }

    .slider-card__img{
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        width: 400px;
        height: 460px;
        z-index: 10;
        margin:20px 20px 40px 20px;
    }

    .slider-card__title{
        font-family: Handlee;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        color: black;
    }

    @media ( max-width: 768px ){
      .slider-card__img{
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        width: 273px;
        height: 310px;
        z-index: 10;
        margin:13px 13px 33px 13px;
    }

     .slider-card__inner::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 338px;
    background-color: #E3E3E3;  
    }

    
    

  
    }


    
</style>
