<template>
  <div class="text-home-page">
    <h2 class="text-home-page__title">
      {{ title }}
    </h2>
    <span class="text-home-page__subtitle">{{ subtitle }}</span>
    <p class="text-home-page__descr">
      {{ descr }}
    </p>
    <div class="text-home-page__wrapper-btn">
      <ButtonReadMore text="Read More"/>
    </div>
  </div>
</template>

<script>
import ButtonReadMore from "../components/ButtonReadMore.vue";
export default {
  props: {
    title: String,
    descr: String,
    subtitle: String,
  },
  components: {
    ButtonReadMore,
  },
  
};
</script>


<style lang="scss" scoped>
.text-home-page__wrapper-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.text-home-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.text-home-page__title {
  font-family: Handlee;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 73px;
  color: black;
  margin-bottom: 15px;
}

.text-home-page__subtitle {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: $color-red;
  margin-bottom: 50px;
}

.text-home-page__descr {
  font-family: Handlee;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  color: black;
  margin-bottom: 50px;
  max-width: 600px;
  padding: 0 10px;
  margin: 0 auto;
  margin-bottom: 50px;
}

@media ( max-width: 1280px ){

  .text-home-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  
}



.text-home-page__descr {
  font-family: Handlee;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  color: black;
  margin-bottom: 50px;
  
}
}

@media ( max-width: 768px ){
.text-home-page__descr {
  font-family: Handlee;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  color: black;
  margin-bottom: 50px;
  
}

.text-home-page__title {
  font-family: Handlee;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 73px;
  color: black;
  margin-bottom: 15px;
}
  
}

@media ( max-width: 500px ){

  .text-home-page__title {
  font-family: Handlee;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 73px;
  color: black;
  margin: 0px auto;
  margin-bottom: 15px;
  width: 224px;
}
 
  
}





</style>




