<template>
  <div class="yoga-page__section">
    <div class="yoga-page__first-wrapper">
      <div class="yoga-page__first-inner">
        <h2 class="yoga-page__first-title yoga-title">Yoga means "union".</h2>
        <p class="yoga-page__first-descr yoga-descr">
          It seeks an internal and external harmony, a dynamic balance between
          body, mind, and spirit.An exceptional ice cream also requires a
          perfect balance between sugar, fat, proteins, ice and air. Yogi Eis
          finds this symmetry making one experience a delicious fusion of
          blissful taste sensations and wholesome ingredients. Just as Yoga
          depends on subtle vibrations to elevate the mind, our ice cream is
          created in a positive environment, where Mantra music is sung and
          listened, generating a pleasant and harmonious atmosphere during the
          production process - the secret ingredient of our Yogi Eis ice cream.
        </p>
      </div>
    </div>
    <div class="yoga-page__second-wrapper">
      <div class="yoga-page__second-inner">
        <h2 class="yoga-page__second-title yoga-title">In similar way</h2>
        <p class="yoga-page__second-descr yoga-descr">
          Yoga is known to be healthy for the body, mind, and spirit, and the
          inspiration it gives to us translates in the components behind Yogi
          Eis, making it an ideal choice for those interested in a healthier
          lifestyle. When ice cream uses the best quality natural ingredients,
          is produced in a loving surrounding by people concerned about the
          physical, mental and spiritual welfare of those people who consume
          their product, then that ice cream becomes unpredictable,
          unforgettable, delightful… sublime. We invite you to immerse yourself
          in this journey with us and explore a world full of colors and
          fantastic ravishing flavors.
        </p>
      </div>
    </div>
  </div>
</template>



<style lang="scss" scoped>

.yoga-page__section {

  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom:200px ;
  
 
}

.yoga-page__first-wrapper {
  display: flex;
  width: calc(50% - 20px);
  justify-content: flex-end;
  background-color: $color-pink;
  border: 1px solid;
  border-color: black;
  padding: 150px 0;
  padding-right: 90px;
  border-radius: 0px 300px 0px 0px;
  margin-right: 20px;
  
  
}

.yoga-title {
  font-family: Handlee;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 73px;
  color: black;
  margin-bottom: 15px;
  text-align: left;
  margin-bottom: 50px;
}

.yoga-descr {
  font-family: Handlee;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  color: black;
  max-width: 100%;
  width: 530px;
  text-align: left;
}

.yoga-page__second-wrapper {
  display: flex;
  justify-content: center;
  background-color: $color-blue;
  border: 1px solid;
  border-color: black;
  padding: 150px 55px;
  
}

@media ( max-width: 1280px ){

  .yoga-page__section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
}

.yoga-page__first-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: $color-pink;
  border: 1px solid;
  border-color: black;
  padding: 0;
  padding: 150px 100px 150px 100px;
  border-radius: 0px ;
  margin-right: 0px;

}

.yoga-page__second-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-blue;
  border: 1px solid;
  border-color: black;
   padding: 150px 100px 150px 100px;
  
}

@media ( max-width: 768px ){

  .yoga-page__first-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  background-color: $color-pink;
  border: 1px solid;
  border-color: black;
  padding: 100px 10px 100px 10px;
  border-radius: 0px ;
  margin-right: 0px;
 
  
}
.yoga-page__second-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-blue;
  border: 1px solid;
  border-color: black;
  padding: 100px 10px 100px 10px;
  
}





.yoga-descr {
  font-family: Handlee;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  color: black;
  width: 450px;
  max-width: 100%;
  text-align: left;
}




 
  
}

@media ( max-width: 480px ){

 .yoga-descr {
  font-family: Handlee;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  color: black;
  width: 300px;
  max-width: 100%;
  text-align: left;
}


.yoga-title {
  width: 260px;
  max-width: 100%;
}

  
}




  
}



</style>