<template>
  <div class="container__baselayer">
    
    
    <header>
      <Header id="header">
        <LanguageSelector/>
        <Navbar
          id="header_navbar"
          :width="'110px'"
          :margin="'0 20px'"
        ><LogoVice /></Navbar>
        <LogoVice id="logo"/>
        <Drawer />

      </Header>
    </header>
      
    <main>
      <div class="content">
        <nuxt />
      </div>
    </main>

    <footer>
      <Footer />
    </footer>
  </div>
</template>




<script>

</script>


<style lang="scss" scoped>

  .container__baselayer{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  
    
    #header{
      display: flex;
      align-items: center;
      justify-content: center;
      

    }

    .header{
      font-family: 'Handlee',cursive;
    }


  }

  #header_navbar {
    display: none;
  }
  @media (min-width: 1280px) {
    #header_navbar {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 110px;
      flex-grow: 1;
      margin-right: 60px;
    }
    #logo{
      display: none;
    }
  }


</style>
