<template>
    <div class="section-index">
      <HeroSection
        :thirdImg="true"
        title="Our history"
        subtitle=" “Liberate yourself” "
        descr="I’ve always been fascinated with how a simple meal prepared by one's mother at home often tastes better than an expensive meal in a restaurant. 
        The ingredient of love makes all the difference."
      />
      <Runline class="home__runline--padding"/>
      <HistoryMainSection
        class="history_section first"
        title="1986"
        descr="After learning meditation in 1986 and becoming a vegetarian I soon had my first experience in the food industry on the streets of Johannesburg in South Africa. Street food carts had just become legal and I naively thought a vegetarian hot dog stand would be the biggest sensation in food. It wasn't.... and after a few months, I sold the cart for less than I paid for it. 
        It served as a timely reminder that the real world does not always follow our dreams."
      />

      <HistoryMainSection
        class="history_section"
        :revers="true"
        :orderfirst="true"
        :ordersecond="true"
        title="2003"
        descr="I was never a stranger to the kitchen, it has always been a place for me to express my creativity. 
        Living a number of years in Italy I learned a lot about cuisine and it was also there that I first came into contact with the art of ice cream."
      />

      <HistoryMainSection
        class="history_section"
        title="2016"
        descr="In the summer of 2016 at our meditation center in Wendelsheim in Rheinland Pfalz, we decided to transform a dysfunctional old bakery into a laboratory for producing this wonderful treat. One year later we started making ice cream by following the steps of an Italian company with many years of experience on the matter.
        However, after 3 months the creative part in me became restless to abandon the beaten track to embrace a more innovative one."
      />

      <HistoryMainSection
        class="history_section"
        :revers="true"
        :orderfirst="true"
        :ordersecond="true"
        title="2017"
        descr="The winter of 2017 served us as a time to explore and experiment. 
        Through trial and error, we came up with an entirely new recipe with Cashew nut, Coconut and/or Soy milk as the main ingredients of the base."
      />

      <HistoryMainSection
        class="history_section"
        title="2018"
        descr="By the Summer of 2018, we could offer a selection of up to 16 different flavors.
        Our relentless efforts to keep improving our recipe brought us in autumn of 2018 to develop different tastes which have no added sugar and are sweetened only with dates and/or dried fruits.
        So, the constant interest on our product, especially in Hamburg and Berlin areas kept growing, inspiring us in the winter of 2018 to venture out towards new horizons, leaving behind the peaceful surroundings of Wendelsheim."
      />
      
    </div>
</template>

<script>

</script>



<style lang="scss" scoped>
  .history_section{
    margin: 80px auto;
    width: 300px;

  }
  .history_section.first{
    margin-top: 160px;
  }
  .history_section:last-child{
    margin-bottom: 160px;
  }
  
  @media (min-width: 768px) {
    .history_section{
    margin: 80px 10px;

  }
  }

</style>
