<template>
    <div class="section-index">
      <HeroSection
        :thirdImg="true"
        :title="title"
        :subtitle="subtitle"
        :descr="descr"
        />
      <Runline class="home__runline--padding"/>
      <IceCreamMainSection
        :blue="true"
        src="1.png"
        subtitle="Made with love, Yogi"
        title="Yogi Eis"
        descr="Eis is natural, free of allergens, contains no milk or milk derivatives, 
        no other animal ingredients, no hydrogenated fats, (is soya free) and is gluten-free."
      />

      <IceCreamMainSection
        :revers="true"
        :borderrev="true"
        :orderfirst="true"
        :ordersecond="true"
        :green="true"
        src="2.png"
        subtitle="Natural ingredients"
        title="Our flavor"
        descr="A careful selection of exquisite natural ingredients, 
        make our recipe not only sustainable, but also gives you some of the world’s most
        delicious and exotic taste suggestions."
      />

      <IceCreamMainSection
        :pink="true"
        src="3.png"
        subtitle="Made with love, Yogi"
        title="Varieties"
        class="home__section--margin-bottom"
      >
        <div class='slot'>
          <ul class='slot__list padding-right'>
            <li class='slot__item'><span class='slot__text'>Pistachio</span></li>
            <li class='slot__item'><span class='slot__text'>Siberian Pine</span></li>
            <li class='slot__item'><span class='slot__text'>Hazelnu</span></li>
            <li class='slot__item last-chld'><span class='slot__text'>Indians Kulf</span></li> 
          </ul>

          <ul>
            <li class='slot__item'><span class='slot__text'>Hazelnu</span></li>
            <li class='slot__item'><span class='slot__text'>Russian Halva</span></li>
            <li class='slot__item'><span class='slot__text'>Gianduia</span></li>
            <li class='slot__item'><span class='slot__text'>Philippines Ube</span></li>  
          </ul>
          
        </div>
      </IceCreamMainSection>

      <TextHomePage
              class="home__section--margin-bottom"
              title="The Yoga of Ice Cream"
              subtitle=" “Liberate yourself” "
              descr="We live in a time where conscious choices and the holistic effects 
              of our actions have a greater impact not only on our existence as human 
              beings and on our society but also on our planet as a whole. We have become 
              more aware of what our food consists of and how it is produced. For us, as
              practitioners of yoga and meditation,are particularly important."
      /> 

    </div>
</template>

<script>

export default {
  data() {
      return {
          title: "Our ice-cream",
          subtitle: " “Liberate yourself” ",
          descr: "Handcrafted and vegan, our ice cream is made from a simple formula, with a base from cashew nuts, coconut and .....?...milk. For the fruit varieties, we use freshly made fruit purees, and for the nut varieties, we add pure nut cremes to our basic mix. Yogi Eis has also has sugar free options, using dates and dry fruits as sweeteners."
          }  
   },
}

</script>



<style lang="scss" scoped>
.home__section--margin-bottom{
  margin-bottom: 200px;
}

.home__runline--padding{
  margin-bottom: 200px;
}

.slot{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 50px;
}


.slot__item{
  position: relative;
  margin-top: 10px;
  
}

.slot__item:after{

  content: "";
  position: absolute;
  background-color: black;
  width: 5px;
  height: 5px;
  border-radius: 200px;
  bottom: 0px;
  right: 50%;
  transform: translateX(-50%);
 

}

.slot__item:last-child::after{

  content: "";
  position: absolute;
  width: 0;
}


.slot__text{
  display: inline-block;
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  padding-bottom: 10px;
}

.padding-right{
  padding-right: 75px;
}

@media ( max-width: 375px ){

  .slot{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
}
.padding-right{
  padding-right: 0px;
}
.last-chld:after{
  content: "";
  position: absolute;
  background-color: black;
  width: 5px;
  height: 5px;
  border-radius: 200px;
  bottom: 0px;
  right: 50%;
  transform: translateX(-50%);

}
}


.section-index {
  display: flex;
  flex-direction: column;
  align-items:center ;
  width: 100%;
}

.container {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

@media (max-width: 1280px) {
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
</style>
