<template>
  <div class="home">
    <HeroSection 
    :firstImg="true" 
    :title="title"
    :subtitle="subtitle"
    :descr="descr"
    />
    <Runline/>
    <!-- <Slider/> -->
    <div class="home__section home__section--padding">
      <div class="home__container">
        <TextHomePage
          title="About ice-cream"
          subtitle=" “Liberate yourself” "
          descr="Handcrafted and vegan, our ice cream is made from a simple formula, 
                with a base from cashew nuts, coconut and .....?...milk. For the fruit varieties, 
                we use freshly made fruit purees, and for the nut varieties, we add pure nut cremes 
                to our basic mix. Yogi Eis has also has sugar free options, using dates and dry fruits 
                as sweeteners."
        />
      </div>
    </div>
    <div class="home__section home__section--blue">
      <img class="home-section--blue__img" src="~/assets/images/4.png" alt="" />
    </div>

    <div class="home__section home__section--padding">
      <div class="home__container">
        <TextHomePage
          title="The Yoga of Ice Cream"
          subtitle=" “Liberate yourself” "
          descr="We live in a time where conscious choices and the holistic effects 
                of our actions have a greater impact not only on our existence as human 
                beings and on our society but also on our planet as a whole. We have become 
                more aware of what our food consists of and how it is produced. For us, as
                practitioners of yoga and meditation,are particularly important."
        />
      </div>
    </div>

    <div class="home__section home__section--pink">
      <div class="home__run-line">
        <marquee behavior="alternate" direction="right" >
        <ul class="home__list">
          <li class="home__item">
            <span class="home__text">The Yoga of Ice Cream</span>
          </li>
          <li class="home__item">
            <span class="home__text">The Yoga of Ice Cream</span>
          </li>
          <li class="home__item">
            <span class="home__text">The Yoga of Ice Cream</span>
          </li>
          <li class="home__item">
            <span class="home__text">The Yoga of Ice Cream</span>
          </li>
          <li class="home__item">
            <span class="home__text">The Yoga of Ice Cream</span>
          </li>
          <li class="home__item">
            <span class="home__text">The Yoga of Ice Cream</span>
          </li>
          <li class="home__item">
            <span class="home__text">The Yoga of Ice Cream</span>
          </li>
          <li class="home__item">
            <span class="home__text">The Yoga of Ice Cream</span>
          </li>
          <li class="home__item">
            <span class="home__text">The Yoga of Ice Cream</span>
          </li>
          <li class="home__item">
            <span class="home__text">The Yoga of Ice Cream</span>
          </li>
        </ul>
         </marquee>
      </div>
      <Slidercard />
    </div>
    <div class="home__section home__section--padding">
      <div class="home__container">
        <TextHomePage
          title="Our history"
          subtitle=" “Liberate yourself” "
          descr="After learning meditation in 1986 and becoming a vegetarian I soon had my first 
                experience in the food industry on the streets of Johannesburg in South Africa...... "
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
      return {
          title: "Yougi Eis",
          subtitle: " “Liberate yourself” ",
          descr:  "Yoga and ice cream? How does that come together? Sure! Why not? Ice cream is one of the most enjoyable inventions in history!"
      }  
   },
}
</script>

<style lang="scss" scoped>
.home__section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding-top: 20px;
}
.home__section--padding {
  padding-bottom: 200px;
  padding-top: 200px;
}

.home__container {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home__section--blue {
  background-color: $color-blue;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.home__section--blue__img {
  max-width: 100%;
}

.home__section--pink {
  display: flex;

  align-content: center;
  background-color: $color-pink;
  border-top: 1px solid;
  border-bottom: 1px solid;
  height: 980px;
}

.home__run-line {
  display: flex;
  width: 100%;
  flex-direction: row;
  white-space: nowrap;
  margin-bottom: 180px;
}

.home__list {
  display: flex;
  width: 100%;
  flex-direction: row;
  white-space: nowrap;
}

.home__item {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  white-space: nowrap;
  padding-left: 25px;
  margin-right: 15px;
}

.home__item::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50px;
  top: 40%;
  transform: translateY(-50%);
  left: 0;
}

.home__text {
  font-family: Handlee;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 47px;
  color: #000000;
}
</style>

