<template>
  <div class="the-yoga">
    <HeroSection
      :thirdImg="true"
      :title="title"
      :subtitle="subtitle"
      :descr="descr"
    />
    <Runline class="the-yoga__runline--padding" />
    <YogaMainSection />
    <TextHomePage
      class="margin--bottom"
      title="Our history"
      subtitle=" “Liberate yourself” "
      descr="After learning meditation in 1986 and becoming a vegetarian I soon had my first 
            experience in the food industry on the streets of Johannesburg in South Africa...... "
    />
  </div>
</template>
<script>
export default {
  data() {
    return {
      title: "The Yoga of Ice Cream",
      subtitle: " “Liberate yourself” ",
      descr:
        "We live in a time where conscious choices and the holistic effects of our actions have a greater impact not only on our existence as human beings and on our society but also on our planet as a whole. We have become more aware of what our food consists of and how it is produced. For us, as practitioners of yoga and meditation, cruelty-free and sustainability are particularly important.",
    };
  },
};
</script>



<style lang="scss" scoped>
.the-yoga__runline--padding {
  margin-bottom: 200px;
}
.margin--bottom {
  margin-bottom: 200px;
}
</style>

